<ol>
{% for year, post_group in postslist | groupByYear | reverse %}
  {% if loop.index0 != 0 %}
  <h1 class="text-2xl text-blue-400 font-semibold mx-auto">{{ year }}</h1>
    
  {% endif %}
  {% for post in post_group | reverse %}
    {% include "post_preview.njk" %}  
  {% endfor %}
  </li>
{% endfor %}
</ol>
