<ol>
{% for post in postslist | reverse %}
  <li class="px-4 py-1 my-1 border-2 border-blue-300 rounded-md flex flex-col">
    <a href="{{ post.url | url }}" >
      {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
    </a>
    <time datetime="{{ post.date | htmlDateString }}">
      {{ post.date | readableDate }}
    </time>
    <ul>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <li class="inline"><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ol>
